.form {
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(72, 71, 71);
    color: rgb(187, 187, 187);

    font-family: "Noto Serif", serif;
}

.input_wrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: flex-start;
}

.input_style {
    height: 20px;
    background-color: rgb(176, 177, 178);
    border-radius: 6px;
    border: 1px solid rgb(0, 0, 0);
    padding-left: 4px;
    outline: none;

    font-family: "Noto Serif", serif;
}

.hide_btn {
    background-image: url('./img/visible.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    position: relative;
    top: -27px;
    left: 152px;
    height: 18px;
    width: 18px;
    padding: 0;
    cursor: pointer;
    border: none;
    outline: none !important;
}

.visible {
    background-image: url('./img/invisible.png');
}

#submit_btn {
    background-color: rgb(176, 177, 178);
    padding: 6px 10px;
    cursor: pointer;
    border: none;
    margin-bottom: 10px;
    font-weight: bold;
    border-radius: 6px;
    color: rgb(46, 46, 46);
}

#submit_btn:hover {
    background-color: rgb(124, 124, 124);
    color: rgb(0, 0, 0);
}